body{
margin: 0rem;
padding: 0rem;
overflow-x: hidden;
}
body::-webkit-scrollbar{
    background-color: transparent;
}
body::-webkit-scrollbar-thumb{
    background:linear-gradient(yellowgreen, red, blue)
}
ul{
    margin: 0rem;
    padding: 0rem;
}
.my_menu{
    position: absolute;
    width: 100%;
    height: auto;
    background-color: #f37209;
}
.menu li{
    list-style: none;
    height: 4rem;
    width: 11rem;
    background-color: #f37209;
    margin-left: 1rem;
    text-align: center;
    line-height: 4rem;
    float: left;
    font-size: 1.5rem;
}
.menu li:hover{
    background-color: rgba(122, 134, 8, 0.685);
}
.menu li a:hover{
    color: aqua;
}
.menu li a{
    color: rgb(247, 242, 242);
    display:block ;
    text-decoration: none;  
}
.menu ul li{
    margin: 0rem;
}
.menu ul{
    display: none;
}
.menu li:hover ul{
display: block;
}
.welcome h1{
    color: yellowgreen;
    font-weight: bold;
    font-size: 3rem;
}
.welcome h2{
    color: black;
    font-weight: bold;
    font-size: 2.5rem;
}
/*banner*/
.slider_box{
    width: 100%;
    height: 36rem;
    margin: 0.5rem;
    overflow: hidden;
}
#slider{
    width: 100%;
    height: 36rem;
    display: inline-flex;
    transition: 0.7s;
}
#slider img{
    width: 100%;
}
.indicators{
    position: absolute;
    left: 50%;
    bottom: 1rem;
    transform: translateX(-50%);
}
.indicators span{
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    background: rgba(255,255,0.5);

}
.active{
    background: white !important;
}
/*why choose us 
#why_choose{
    width: 100%;
    text-align: center;
}
#why_choose h1{
    margin: 0 auto;
    width: 180px;
    text-align: center;
    font-size: 30px;
    color:red;
    border-bottom: 2px solid red;   
}
.div_section1{
    width: 20%;
    height: 300px;
    margin: 10px;
    padding: 20px;
    float: left;
}
.icon{
    width: 100px;
    height: 100px;
    border: 1px solid gray;
    margin: 15px auto;
    line-height: 90px;
    font-size: 40px;
    background-color: aqua;
    border-radius: 50px;
    transition-duration: 0.2s;
}
.icon:hover{
    font-size:30px ;
}
*/
/*section2*/
.section2{
    display: inline-block;
   width: 100%;
   text-align: center; 
}
.section2 h1{
    margin: 0 auto;
    width: 19rem;
    text-align: center;
    font-size: 2rem;
    color:red;
    border-bottom: 0.5rem solid red;  
}
.div_section2{
    width: 20%;
    height: 19rem;
    margin: 1rem;
    padding: 1rem;
    float: left;
}
.div_section2 img{
    width: 100%;
    height: 13rem;
}
.section3 h1{
    margin: 0 auto;
    width: 13rem;
    text-align: center;
    font-size: 2rem;
    color:red;
    border-bottom: 0.5rem solid red;  
}
/*footer*/
.footer{
    margin-bottom: 0rem;
    position: absolute;
    width: 100%;
    height: auto;
    background-color: black;
}
.footer_div{
    width: 25%;
    height: 19rem;
    margin: 2rem;
    padding: 1rem;
    float: left;
}
.footer_div h1{
    color:red;
}
.footer_div p{
    color: white;
}
.footer_div button{
    margin-top: 1rem;
    background-color: red;
    border: none;
    color: white;
    width: 6.5rem;
    height: 2rem;
}
.footer_div ul li{
    list-style: none;
}
.footer_div ul li a{
    color: white;
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
    text-align: none;
}
.social_link{
    color: white;
}
.under_footer{
    display: inline-block;
    width: 100%;
    height: 5rem;
    text-align: center;
    background-color: white;
}
.footer1{
    width: 50%;
    float: left;
}
.footer1 p{
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
}
 .wplogo{
        height: 100px;
        width: 150px;
        position: fixed;
        z-index: 99;
        top: 73%;
       /* right:0; */
        margin: 15px;
    }
 
 @media only screen and (max-width: 600px) {
    .wplogo{
        height: 150px;
        width: 2000px;
        position: fixed;
        z-index: 99;
        top: 60%;
       /* right:0; */
        margin: 15px;
    }
    
    .carousel-item .active{
        height:24vh!important;
    }
}
 
 
    .wplogo{
        height: 150px;
        width: 200px;
        position: fixed;
        z-index: 99;
        top: 70%;
        right:0; 
        margin: 15px;
    }
